
// ________ colors ________ //

$orange: #9a6868;
$orange-light: lighten($orange, 32%);
$blue: #5a6b9c;
$beige: #f4eee6;
$white: #fff;
$blue-grey: #252831;


// ________ font related variables ________ //

$letter-spacing: 0.05rem;


// ________ paddings & margins ________ //

$nav-height: 70px;
$nav-height-mobile: 50px;
$breadcrumb-height: 30px;


// ________ breakpoints ________ //

$phone: 768px;
$tablet: 992px;
$desktop: 1200px;


// ________ other ________ //

$border-radius-base: 2px;
